<!-- TEMPLATE ARTIST -->

<style>
    .lista-artistas{
        margin: 40px 0 0px 30px;
        padding: 0 15px;
        background-color: #EAF1EA;
        width: 45%;
        display: inline-block;
    }
    .orden{
        border-bottom: 1px solid black;
    }
    li{
        display: inline-block;
        margin: 20px 30px 0 20px;
    }
    .lista-artistas a{
        color: #C70039;
    }
    .lista-artistas a:hover{
        text-decoration: none;
    }
    footer{
        display: none;
    }
</style>

<div class="lista-artistas" id="home">
    <header>
        <h3 class="orden">A</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each a}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">B</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each b}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">C</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each c}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">D</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each d}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">E</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each e}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">F</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each f}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">G</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each g}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">H</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each h}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">I</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each i}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">J</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each j}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">K</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each k}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">L</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each l}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">M</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each m}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">N</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each n}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">O</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each o}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">P</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each p}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>


<div class="lista-artistas">
    <header>
        <h3 class="orden">Q</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each q}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">R</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each r}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">S</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each s}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">T</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each t}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">U</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each u}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">V</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each v}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">W</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each w}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">X</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each x}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">Y</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each y}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<div class="lista-artistas">
    <header>
        <h3 class="orden">Z</h3>
    </header>
    <section>
        <ol>
            {{#each artistas}}
                {{#each z}}
                    <li>
                        <a href="{{this.perfil}}" target="_blank">{{this.nombre}}</a>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    </section>
</div>

<!-- QUE DENTRO DEL DIV LISTA-ARTISTAS SE GENERE CON JS LOS DIVS CORRESPONDIENTES A CADA LETRA DEL ABECEDARIO -->